@charset "utf-8";
*{margin: 0;padding: 0;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'Roboto', sans-serif;}
a{}

#header{width: 100%;height: 505px;margin: 0 auto;background: url(../img/bg_header.gif);box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .3);}
#section{width: 100%;height: auto;margin: 0 auto;}
.container{width: 70%;margin: 0 auto;}


/* header */
.header-top{width: 100%;height: 40px;background-color: #00704A;margin-top: 28px;float: left;box-sizing: border-box;}
.header-top>ul{width: 429px;height: 13px;margin-top: 14px;margin-right: 50px;display: flex; justify-content: space-between; align-items: center;float: right;}
.header-top>ul>li{}
.header-top>ul>li>a{color: #fff;}

.header-logo{padding-top: 155px;}
.header-logo>h1{width: 576px;height: 197px;margin: 0 auto;}
.header-logo>h1>a{}
.header-logo>h1>a>img{width: 576px;height: 197px;}

.header-icon{width: 90%;height: auto;margin: 0 auto;display: none;position: relative;}
.header-icon>ul{display: flex;justify-content: space-between;margin-top: 25px;align-items: center;position: relative;top: 0;left: 0;}
.header-icon>ul>li{position: absolute;top: 0;left: 0;width: 100%;}
.header-icon>ul>li>button{font-size: 34px;display: block;background: none;color: #00704a;position: absolute;}
.header-icon>ul>li>button.bar{display: block;left: 0;}
.header-icon>ul>li>.nav-moblie{width: 250px;height: 100vh;background-color: #fff;position: relative;z-index: 3;top: 58px;left:-100%;border-right: 1px solid #00704a;box-sizing: border-box;}
.header-icon>ul>li>.nav-moblie>.nav-m{width: 100%;display: flex;justify-content: space-between;flex-direction: column;}
.header-icon>ul>li>.nav-moblie>.nav-m>li{height: 60px;border-bottom: 1px solid rgba(0, 112, 74, .1);box-sizing: border-box;transition: all .3s; position: relative;}
.header-icon>ul>li>.nav-moblie>.nav-m>li:hover{background-color: #00704a;}
.header-icon>ul>li>.nav-moblie>.nav-m>li>a{font-size: 16px; padding-top: 20px;padding-left: 30px; display: block;color: #00704a;}
.header-icon>ul>li>.nav-moblie>.nav-m>li:hover>a{color: #fff;}
.header-icon>ul>li>.nav-moblie>.nav-m>li>.gnb-m{position: absolute; top: 60px; width: 100%; background-color: #fff; display: none; z-index: 10; padding: 10px; box-sizing: border-box;}
.header-icon>ul>li>.nav-moblie>.nav-m>li:hover>.gnb-m{display: block;border-bottom: 1px solid #00704a;box-sizing: border-box;}
.header-icon>ul>li>.nav-moblie>.nav-m>li>.gnb-m>li{width: 100%;height: 32px;border-bottom: 1px solid rgba(0, 112, 74, .1);box-sizing: border-box;}
.header-icon>ul>li>.nav-moblie>.nav-m>li>.gnb-m>li:hover{display: block;background-color: #299a74;}
.header-icon>ul>li>.nav-moblie>.nav-m>li>.gnb-m>li:last-child{border: none;}
.header-icon>ul>li>.nav-moblie>.nav-m>li>.gnb-m>li>a{font-size: 15px;padding: 7px 30px;display: block;color: #00704a;}
.header-icon>ul>li>.nav-moblie>.nav-m>li>.gnb-m>li:hover>a{color: #fff;}

.header-icon>ul>li>button.user{display: block;right: 0;}


.header-nav{width: 100%;height: 40px;top: 20%;position: relative;}
.header-nav>ul{width: 1020px;height: 23px;display: flex; justify-content: space-between; align-items: center;margin: 0 auto;}
.header-nav>ul>li{}
.header-nav>ul>li>a{color: #00704A;font-size: 20px;display: block;}

.header-nav:hover>.header-gnb{display: block;}
.header-gnb{width: 100%;height: 400px;background-color: #fff;position: absolute;margin-top: 53px;display: none;z-index: 3;}
.header-gnb>p{display: none;}
.header-gnb>p>img{}

.nav>li>a{padding: 20px 0 35px 0; display: block;}
.nav>li>.gnb{width: 155px;position: absolute;top: 80px;z-index: 3;}
.nav>li>.gnb>li{margin-bottom: 35px;text-align: left;display: none;}
.header-nav:hover .nav>li>.gnb>li{display: block;}
.nav>li>.gnb>li>a{font-size: 16px;color: #444;font-family: 'GowunDodum-Regular';font-weight: bold;}
.nav>li>.gnb>li>a:hover{color: #00704a;text-decoration: underline;}

/* section */
.main{margin: 1px auto 0;width: 100%;position: relative;z-index: 0;}
.main>img{width: 100%;}
.main>.t-bg{display: none;}
.main>.m-bg{display: none;}
.main>.main-btn{width: 195px;height: 45px;position: absolute;top: 68%;left: 20%;}
.main>.main-btn>button{width: 195px;height: 45px;background-color: #00704a;box-sizing: border-box;border-radius: 10px;}
.main>.main-btn>button>a{color: #fff;font-size: 16px;float: left;margin-left: 15px;font-weight: 300;letter-spacing: 1px;}
.main>.main-btn>button>a>span{color: #fff;font-size: 16px;margin-left: 78px;font-weight: 100;}

.container .text{width: 220px;height: 100px;margin: 80px auto 0;}
.container .text>h2{font-size: 24px;font-family: 'Philosopher', sans-serif;color: #000;position: relative; font-weight: normal;text-align: center;}
.container .text>h2::after{content: "";width: 37px;height: 6px;border-radius: 60px;background-color: #00704a;display: block;margin: 0 auto;position: absolute;top: -20px;left: 90px;}
.container .text>h3{font-size: 13px;font-family: 'Open Sans', sans-serif;color: #000;text-align: center;padding-top: 5px;}

.slide-wrap{width: 100%;overflow: hidden;}
.slider{width: 100%;display: flex;justify-content: space-between;padding-top: 50px;position: relative;}
.slider .slide{width: 250px;height: 280px;padding-right: 11%;}
.slider .slide a{text-align: center;font-size: 14px;display: block;color: #a61b1b;font-weight: bold;margin: 0 auto;}
.slider .slide a img{width: 220px;height: 220px;display: block;margin: 0 auto;}
.slider .slide04>a>img{width: 195px;height: 195px;margin-top: 20px;margin-left: 35px;display: block;}
.slider .slide a span{text-align: center;font-size: 14px;display: block;color: #000;}
.slider .slide05{}
.slider .slide06>a>img{width: 195px;height: 195px;margin-top: 20px;margin-left: 35px;display: block;}

.slide-btn{width: 115%;height: 70px;position: relative;top: -200px;left: -7%;display: flex;justify-content: space-between;}
.slide-btn>div{height: 100%;}
.slide-btn i{font-size: 50px;color: #ccc;}
.slide-btn i:hover{color: #00704a;}
.slide-prev{}
.slide-next{}
.slide-down{display: none;font-size: 50px;color: #ccc;position: absolute;top: 180px;left: 43%;height: 70px;}

.content2{width: 100%;height: 290px;margin: 150px auto 0;}
.box{width: 100%;height: 290px;display: flex;justify-content: space-between;position: relative;}
.box p{color: #fff;font-size: 1.1em;padding: 5px 0;margin: 10px 15px;}
.box a{color: #fff;font-size: 1.1em;padding: 5px 0;margin: 10px 15px;}
.box a span{color: #fff;display:  inline-block;width: 40px;height: 25px;border: 2px solid #fff;text-align: center;margin-left: 10px;box-sizing: border-box;}
.box a:hover{color: #00704a;text-decoration: underline;font-weight: bold;}
.box a:hover span{background-color: #333;}
.box2 a:hover{color: #00704a;text-decoration: underline;font-weight: bold;}
.box2 a:hover span{background-color: #fff;}
.box1{width: 480px;height: 290px;background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../img/cont1.jpg) no-repeat 50% 50%/cover;position: relative;}
.box1>p{position: absolute;top: 110px;right: 15px;}
.box1>p::after{content: "";position: absolute;width: 35px;height: 3px;background-color: #fff;right: 5px;top: -10px;}
.box1>a{position: absolute;top: 145px;right: 15px;}
.box2{width: 480px;height: 290px;background: #fff5d5;position: relative;}
.box2>p{position: absolute;top: 40px;left: 25px;color: #000;}
.box2>p::after{content: "";position: absolute;width: 3px;height: 38px;background-color: #000;left: -15px;top: 6px;}
.box2>a{position: absolute;top: 210px;right: 10px;color: #000;}
.box2>a>span{color: #000;border: 2px solid #000;}
.box3{width: 960px;height: 290px;background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../img/cont2.jpeg) no-repeat 50% 50%/cover;position: relative;}
.box3>p{position: absolute;top: 110px;left: 15px;}
.box3>p::after{content: "";position: absolute;width: 35px;height: 3px;background-color: #fff;left: 5px;top: -10px;}
.box3>a{position: absolute;top: 145px;left: 15px;}


.banner{margin: 0 auto;width: 100%;}
.banner>img{width: 100%;}
.banner>.t-bn{display: none;}
.banner>.m-bn{display: none;}

#footer{font-size: 11px;width: 100%;height: 150px;margin: -5px auto 0;border-top: 2px solid #333;background-color: #ddd;}
#footer>.container{position: relative;}
#footer .container .f-nav{width: 100%;height: 100px;position: absolute;top: 40px;}
#footer .container .f-nav .f-nav-go{width: 730px;display: flex;justify-content: space-between;margin-bottom: 15px;position: relative;}
#footer .container .f-nav .f-nav-go>li{}
#footer .container .f-nav .f-nav-go>li>a{color: #333;font-size: 11px;display: block;padding: 0 2px;}
#footer .container .f-nav .f-nav-go>li.green>a{color: #00704a;font-size: 13px;font-weight: bold;margin-top: -1px;text-decoration: underline;}
#footer .container .f-nav .f-nav-ex{}


.f-right{position: absolute;top: 40px;right: 0;}
.f-right option{font-size: 8px;}
.f-right form #select1{width: 120px;height: 25px;border: 1px solid #333;box-sizing: border-box;background-color: #eee;border-radius: 20px;}
.f-right form #select2{width: 120px;height: 25px;border: 1px solid #333;box-sizing: border-box;background-color: #eee;border-radius: 20px;margin-left: 5px;}
.f-right button{width: 35px;height: 22px;border: 1px solid #333;box-sizing: border-box;background-color: #eee;border-radius: 5px;text-align: center;text-transform: uppercase;font-size: 11px;margin-left: -2px;}
.f-right .f-brand-sns{width: 240px;position: absolute;top: 35px;display: flex;justify-content: space-between;right: 0;}
.f-right .f-brand-sns .brand1 a img{width: 6em;height: 2em;padding-top: 5px;}
.f-right .f-brand-sns .brand2 a img{width: 9em;height: 2em;padding-right: 8px;padding-top: 5px;}
.f-right .f-brand-sns .sns1 a img{width: 3em;height: 3em;padding-right: 5px;}
.f-right .f-brand-sns .sns2 a img{width: 3em;height: 3em;}




@media screen and (max-width: 1800px) {
    .slider .slide{padding-right: 9%;}
}
@media screen and (max-width: 1600px) {
    .container{width: 85%;margin: 0 auto;}
    .slider .slide{padding-right: 9%;}
}
@media screen and (max-width: 1500px) {
    .slider .slide{padding-right: 8%;}
}
@media screen and (max-width: 1400px) {
    .content2{width: 100%;height: 580px;margin: 150px auto 0;}
    .box{height: 580px;flex-wrap: wrap;}
    .box1, .box2{width: 50%;height: 290px;}
    .box3{width: 1920px;height: 290px;}
    .slider .slide{padding-right: 8%;}
}
@media screen and (max-width: 1350px) {
    .slider .slide{padding-right: 6%;}
}
@media screen and (max-width: 1240px) {
    .nav>li>.gnb{width: 150px;}
    .container{width: 55%;margin: 0 auto;}
    .slider .slide{width: 270px;height: 300px;}
    .slider .slide a img{width: 240px;height: 240px;}
    .slider .slide04>a>img, .slider .slide06>a>img{width: 220px;height: 220px;margin-top: 20px;margin-left: 35px;display: block;}
    .slide-btn{width: 125%;left: -11%;}
    .slider .slide{padding-right: 28%;}
    .main>.w-bg{display: none;}
    .main>.t-bg{display: block;}
    .main>.m-bg{display: none;}
    .main>.main-btn{width: 195px;height: 45px;position: absolute;top: 58%;left: 41%;}
    .banner>.w-bn{display: none;}
    .banner>.t-bn{display: block;}
    .banner>.m-bn{display: none;}
    #footer{font-size: 11px;width: 100%;height: 150px;margin: 0 auto ;}
    #footer>.container{width: 90%;margin: 0 auto;}
}
@media screen and (max-width: 1160px) {
    .f-right{position: absolute;top: 70px;right: 0;}
    .slider .slide{padding-right: 20%;}
}
@media screen and (max-width: 1100px) {
    .nav{width: 100%;}
    .nav>ul{width: 700px;}
}
@media screen and (max-width: 1030px) {
    .header-nav>ul{width: 800px;}
    .slider .slide{padding-right: 13%;}
}
@media screen and (max-width: 960px) {
    .nav>li>.gnb{width: 120px;}
    .header-bottom>ul{width: 760px;}
    .container{width: 65%;}
    .slider .slide{padding-right: 10%;}
    
}
@media screen and (max-width: 910px) {
    .header-nav>ul{width: 780px;}
    .nav>li>.gnb{width: 120px;}
    .nav>li>.gnb>li>a{font-size: 14px;}
    .nav>li>.gnb>li>a:hover{font-size: 14px;}
}
@media screen and (max-width: 880px) {
    .header-nav>ul{width: 730px;}
    .nav>li>.gnb{width: 120px;}
    .nav>li>.gnb>li>a{font-size: 14px;}
    .nav>li>.gnb>li>a:hover{font-size: 14px;}
}
@media screen and (max-width: 840px) {
    .nav>li>.gnb{width: 100px;}
    .nav>li>.gnb>li>a{font-size: 13px;}
    .nav>li>.gnb>li>a:hover{font-size: 13px;}
}
@media screen and (max-width: 795px) {
    .container .text{padding-left: 10px;}
    .container{width: 45%;height: 100%;}
    .slider{flex-direction: column;width: 100%;}
    .slider .slide{padding-bottom: 50px;width: 75%;margin: 0 auto;}
    .slider .slide03, .slider .slide04, .slider .slide05, .slider .slide06{display: none;}
    .main>.main-btn{position: absolute;top: 70%;left: 38%;}
    .main>.w-bg{display: none;}
    .main>.t-bg{display: none;}
    .main>.m-bg{display: block;}
    #header{height: 160px;background-size: 40px;}
    .header-nav>ul{display: none;}
    .header-top>ul{display: none;}
    .header-top{margin-top: 0;}
    .header-gnb{background: none;}
    .header-logo{padding-top: 0;position: relative;top: -20px;}
    .header-logo>h1{width: 229px;height: 78px;margin: 0 auto;}
    .header-logo>h1>a>img{width: 229px;height: 78px;}
    .header-icon{display: block;}
    .header-icon li i{cursor: pointer;}
    .slide-prev{display: none;}
    .slide-next{display: none;}
    .slide-down{display: block;}
    #footer{height: 310px;}
    #footer .container .f-nav{top: 120px;}
    #footer .container .f-nav .f-nav-go{width: 90%;height: 110px;display: flex;flex-wrap: wrap;margin: 0 auto;}
    #footer .container .f-nav .f-nav-ex{margin: 0 auto;width: 90%;}
    .f-right{position: absolute;top: 40px;right: 0;}
    #footer .container .f-nav .f-nav-go>li>a{color: #333;font-size: 11px;display: block;padding: 0 8px;}


}
@media screen and (max-width: 700px) {
    .content2{width: 100%;height: 870px;margin: 150px auto 0;}
    .box{height: 870px;flex-wrap: wrap;}
    .box1, .box2, .box3{width: 100%;height: 290px;}
}
@media screen and (max-width: 600px) {
    .container{width: 55%;height: 100%;}
    .main>.main-btn{position: absolute;top: 70%;left: 30%;}
    .slider .slide{width: 100%;}
    .slide-down{left: 41%;}
    .banner>.w-bn{display: none;}
    .banner>.t-bn{display: none;}
    .banner>.m-bn{display: block;}
    .box3>a{top: 160px;}
}


